spring:
  application:
    name: mall-job
  config:
    import: optional:nacos:${spring.application.name}.yml
  profiles:
    active: local
  cloud:
    nacos:
      discovery:
        server-addr: ${nacos.server-addr:localhost:8848}
      config:
        server-addr: ${nacos.server-addr:localhost:8848}
        file-extension: yml
    openfeign:
      circuitbreaker:
        enabled: true
      client:
        config:
          default:
            connect-timeout: 10000
            read-timeout: 30000
            logger-level: full
  data:
    redis:
      host: localhost
      port: 6379
      database: 3
      
server:
  port: 8086

# log config
logging:
  level:
    xyh.dp.mall: debug
    xyh.dp.mall.job: info
