spring:
  application:
    name: mall-job
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yml
  profiles:
    active: local
  config:
    import: optional:nacos:${spring.application.name}.yml

server:
  port: 8086

logging:
  level:
    xyh.dp.mall: debug
