spring:
  application:
    name: mall-job
  config:
    import:
      - optional:nacos:${spring.application.name}.yml
      - optional:nacos:redis-common.yml
      - optional:nacos:zipkin-common.yml
  profiles:
    active: local
  cloud:
    nacos:
      discovery:
        server-addr: ${nacos.server-addr:localhost:8848}
      config:
        server-addr: ${nacos.server-addr:localhost:8848}
        file-extension: yml
  data:
    redis:
      database: 3  # 定时任务服务使用独立的Redis数据库
      
server:
  port: 8086

# log config
logging:
  level:
    xyh.dp.mall: debug
    xyh.dp.mall.job: info
