spring:
  application:
    name: mall-search
  config:
    import:
      - optional:nacos:${spring.application.name}.yml
      - optional:nacos:redis-common.yml
      - optional:nacos:elasticsearch-common.yml
      - optional:nacos:zipkin-common.yml
  profiles:
    active: local
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yml
  data:
    redis:
      database: 4  # 搜索服务使用独立的Redis数据库

server:
  port: 8085

logging:
  level:
    xyh.dp.mall: debug
