spring:
  application:
    name: mall-ai
  profiles:
    active: local
  config:
    import:
      - optional:nacos:${spring.application.name}.${spring.cloud.nacos.config.file-extension:yml}
      - optional:nacos:mall-ai-mysql.${spring.cloud.nacos.config.file-extension:yml}
      - optional:nacos:mysql-common.${spring.cloud.nacos.config.file-extension:yml}
      - optional:nacos:redis-common.${spring.cloud.nacos.config.file-extension:yml}
      - optional:nacos:zipkin-common.${spring.cloud.nacos.config.file-extension:yml}
  cloud:
    nacos:
      discovery:
        server-addr: ${nacos.server-addr:localhost:8848}
      config:
        server-addr: ${nacos.server-addr:localhost:8848}
        file-extension: yml

server:
  port: 8090

logging:
  level:
    xyh.dp.mall: debug
    xyh.dp.mall: debug
